@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab&display=swap');

:root {
  --transition: all 0.3s linear;
  --primary-color: #EDF2F4;
  --secondary-color: #2B2D42;
  --terciary-color: #D90429;
  --fourth-color: #457B9D;
  --fifth-color: #e5e5e5;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--fifth-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: black;
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
}

.nav-header{
  background-color: var(--secondary-color);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem 1rem;
}

.nav-menu{
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--primary-color);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--primary-color);
  transition: var(--transition);
  cursor: pointer;
  margin-top: 0.2rem;
}

.close-btn:hover {
  color: gray;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:var(--secondary-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

.logo {
  color: var(--primary-color);
  font-size: 25px;
  font-family: 'Zilla Slab', serif;
}

.logo2 {
  font-size: 25px;
  color: var(--primary-color);
  font-family: 'Zilla Slab', serif;
}

.heart{
  font-size: 2rem;
  color: var(--terciary-color);
}

.links {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--primary-color);
  transition: var(--transition);
  letter-spacing: var(--spacing);
  text-decoration: none;
}
.links:hover{
  background-color: var(--fourth-color);
}

.form{
  font-size: large;
  font-family: 'Zilla Slab', serif;
  padding-left: 60px;
  width: 90%;
}

.form input {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form label{
  font-size: 20px;
  padding: 12px 0px 12px 0px;
  margin: 8px 0;
  display: inline-block;
  color: var(--secondary-color);
}

.form button{
  background-color:var(--terciary-color);
  color: var(--primary-color);
  border: none;
  width: 20%;
  font-size: large;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 40px;
  border-radius: 8px;
}

.form h3{
  color: var(--secondary-color);
  font-size: 25px;
}

.select{
  font-size: large;
}

.index{
  z-index: -1
}

.textarea{
  max-width: 100%;
  min-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  font-size: large;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 100%;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  font-family: 'Zilla Slab', serif;
}

.booklist h2{
  font-size:25px;
}

.booklist button{
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--fourth-color);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.tags {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin: 0 16px 8px 0;
  padding: 0 10px 0 12px;
  background: var(--terciary-color);
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-box-shadow: 0 1px 2px var(--terciary-color);
  box-shadow: 0 1px 2px var(--terciary-color);
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-shadow: var(--terciary-color);
  font-weight: bold;
}

.section-center {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
  font-family: 'Zilla Slab', serif;
}

.add-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-1);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.grocery-form h3 {
  color: var(--clr-primary-1);
  margin-bottom: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

.tbr-input{
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.tbr-button{
  background-color: var(--terciary-color);
  color: var(--primary-color);
  border: none;
  width: 10%;
  font-size: large;
  margin-left: 30px;
  height: 40px;
  border-radius: 8px;
  cursor:pointer;
}

.tbr-section{
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  font-family: 'Zilla Slab', serif;
}

.div-input{
  display: flex;
  justify-content: left;
}

.div-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.div-input-icon{
  justify-content: right;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.delete-div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.delete-icon{
  cursor: pointer;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: var(--terciary-color);
  font-size: 20px;
}

.delete-icon-tbr {
  cursor: pointer;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: var(--terciary-color);
  margin-left: 10px;
}

.tbr-list{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.list-container {
  display: flex;
  font-size: 18px;
  background-color: #eee;
  flex-direction: column;
}

.item-container {
  background-color: #fff;
  border: 1px solid black;
  padding: 25px 70px;
  margin: 15px 50px;
}
